*{
    text-decoration:none;
    }
    .navbar{
    background:white;font-family:comic sans ms;padding-right:15px;padding-left:15px;
    }
    .navdiv{
    display:flex;align-items:center;justify-content:space-between;
    }
    .logo {
    font-size:35px;color:black;font-family:impact;
    }
    li{
    list-style:none;display:inline-block;
    }
    li a{
    color:black;font-size:18px;font-weight:bold;margin-right:35px;
    }
    @media screen and (min-width: 981px) and (max-width: 1381px) {
        .navbar{
            background:white;font-family:comic sans ms;padding-right:15px;padding-left:15px;
            }
    }
    @media screen and (min-width: 200px) and (max-width: 981px) {
        .navbar{
            background:white;font-family:comic sans ms;padding-right:15px;padding-left:15px;
            }
    }
    @media screen and (min-width: 100px) and (max-width: 200px) {
        .navbar{
            background:white;font-family:comic sans ms;padding-right:15px;padding-left:15px;
            }
    }